<!DOCTYPE html>

<html>

<head>

    <title>
        VolFlux
    </title>

    <link
        rel="stylesheet"
        href="/static/style.css"
    >

</head>

<body>

    <div class="hero">

        <h1>
            VolFlux
        </h1>

        <p>
            Volatility Forecasting &
            Risk Adaptive Trading System
        </p>

        <a href="/run">

            <form
    action="/upload"
    method="post"
    enctype="multipart/form-data"
>

    <input
        type="file"
        name="file"
    >

    <button type="submit">

        Upload Dataset

    </button>

</form>

        </a>

    </div>

</body>

</html>